// Input clock
LOCATE		COMP "CLK_25MHZ" SITE "P6";
IOBUF 		PORT "CLK_25MHZ" IO_TYPE=LVCMOS33;
FREQUENCY	PORT "CLK_25MHZ" 25 MHZ;

// Alt clock
LOCATE		COMP "ALT_CLK" SITE "A8";
IOBUF 		PORT "ALT_CLK" IO_TYPE=LVCMOS33;
FREQUENCY	PORT "ALT_CLK" 25 MHZ;

// uart interface
LOCATE      COMP "RXD"      SITE "A9"; // uart rx
LOCATE      COMP "TXD"      SITE "B9"; // uart tx


// Special IO
LOCATE      COMP "RSTN"     SITE "A4";  // RESET
LOCATE      COMP "KEY[0]"   SITE "R1";  // KEY0
LOCATE      COMP "KEY[1]"   SITE "R2";  // KEY1
LOCATE      COMP "LEDR"     SITE "B11"; // RED
LOCATE 	    COMP "LEDG"     SITE "A11"; // GREEN
LOCATE      COMP "LEDB"     SITE "A12"; // BLUE
LOCATE      COMP "SDA"      SITE "B8";  // i2c data
LOCATE      COMP "SCL"      SITE "A7";  // i2c clk
LOCATE      COMP "SER"      SITE "T2";  // shift register in
LOCATE      COMP "RCK"      SITE "R3";  // register clk
LOCATE      COMP "SCK"      SITE "T3";  // register shift
// CH 0 - 9
LOCATE      COMP "CH[0]"    SITE "C4";
LOCATE      COMP "CH[1]"    SITE "D5";
LOCATE      COMP "CH[2]"    SITE "C5";
LOCATE      COMP "CH[3]"    SITE "D6";
LOCATE      COMP "CH[4]"    SITE "C6";
LOCATE      COMP "CH[5]"    SITE "D7";
LOCATE      COMP "CH[6]"    SITE "C7";
LOCATE      COMP "CH[7]"    SITE "D10";
LOCATE      COMP "CH[8]"    SITE "C10";
LOCATE      COMP "CH[9]"    SITE "D11";
// CH 10 -19
LOCATE      COMP "CH[10]"   SITE "C11";
LOCATE      COMP "CH[11]"   SITE "D12";
LOCATE      COMP "CH[12]"   SITE "C12";
LOCATE      COMP "CH[13]"   SITE "D13";
LOCATE      COMP "CH[14]"   SITE "C13";
LOCATE      COMP "CH[15]"   SITE "E12";
LOCATE      COMP "CH[16]"   SITE "E13";
LOCATE      COMP "CH[17]"   SITE "E14";
LOCATE      COMP "CH[18]"   SITE "F13";
LOCATE      COMP "CH[19]"   SITE "F14";
// CH 20 - 29
LOCATE      COMP "CH[20]"   SITE "G13";
LOCATE      COMP "CH[21]"   SITE "G14";
LOCATE      COMP "CH[22]"   SITE "H13";
LOCATE      COMP "CH[23]"   SITE "H14";
LOCATE      COMP "CH[24]"   SITE "E4";
LOCATE      COMP "CH[25]"   SITE "E3";
LOCATE      COMP "CH[26]"   SITE "F4";
LOCATE      COMP "CH[27]"   SITE "F3";
LOCATE      COMP "CH[28]"   SITE "M1";
LOCATE      COMP "CH[29]"   SITE "M2";
// CH 30 - 39
LOCATE      COMP "CH[30]"   SITE "G4";
LOCATE      COMP "CH[31]"   SITE "G3";
LOCATE      COMP "CH[32]"   SITE "H3";
LOCATE      COMP "CH[33]"   SITE "K4";
LOCATE      COMP "CH[34]"   SITE "C3";
LOCATE      COMP "CH[35]"   SITE "D4";
LOCATE      COMP "CH[36]"   SITE "D9";
LOCATE      COMP "CH[37]"   SITE "C9";
LOCATE      COMP "CH[38]"   SITE "J13";
LOCATE      COMP "CH[39]"   SITE "J14";
// CH 40 - 49
LOCATE      COMP "CH[40]"   SITE "K14";
LOCATE      COMP "CH[41]"   SITE "K13";
LOCATE      COMP "CH[42]"   SITE "P13";
LOCATE      COMP "CH[43]"   SITE "N12";
LOCATE      COMP "CH[44]"   SITE "L14";
LOCATE      COMP "CH[45]"   SITE "L13";
LOCATE      COMP "CH[46]"   SITE "D1";
LOCATE      COMP "CH[47]"   SITE "D3";
LOCATE      COMP "CH[48]"   SITE "H2";
LOCATE      COMP "CH[49]"   SITE "J1";
// CH 50 - 59
LOCATE      COMP "CH[50]"   SITE "P11";
LOCATE      COMP "CH[51]"   SITE "P12";
LOCATE      COMP "CH[52]"   SITE "J2";
LOCATE      COMP "CH[53]"   SITE "K1";
LOCATE      COMP "CH[54]"   SITE "K2";
LOCATE      COMP "CH[55]"   SITE "L1";
LOCATE      COMP "CH[56]"   SITE "R4";
LOCATE      COMP "CH[57]"   SITE "T4";
LOCATE      COMP "CH[58]"   SITE "R5";
LOCATE      COMP "CH[59]"   SITE "R6";
// CH 60 - 69
LOCATE      COMP "CH[60]"   SITE "T6";
LOCATE      COMP "CH[61]"   SITE "P7";
LOCATE      COMP "CH[62]"   SITE "R7";
LOCATE      COMP "CH[63]"   SITE "R8";
LOCATE      COMP "CH[64]"   SITE "J3";
LOCATE      COMP "CH[65]"   SITE "J4";
LOCATE      COMP "CH[66]"   SITE "D8";
LOCATE      COMP "CH[67]"   SITE "C8";
LOCATE      COMP "CH[68]"   SITE "P14";
LOCATE      COMP "CH[69]"   SITE "N13";
// CH 70 - 79
LOCATE      COMP "CH[70]"   SITE "B7";
LOCATE      COMP "CH[71]"   SITE "A6";
LOCATE      COMP "CH[72]"   SITE "B6";
LOCATE      COMP "CH[73]"   SITE "A5";
LOCATE      COMP "CH[74]"   SITE "B5";
LOCATE      COMP "CH[75]"   SITE "B4";
LOCATE      COMP "CH[76]"   SITE "A3";
LOCATE      COMP "CH[77]"   SITE "B3";
LOCATE      COMP "CH[78]"   SITE "A2";
LOCATE      COMP "CH[79]"   SITE "C1";
// CH 80 - 83
LOCATE      COMP "CH[80]"   SITE "F1";
LOCATE      COMP "CH[81]"   SITE "F2";
LOCATE      COMP "CH[82]"   SITE "G1";
LOCATE      COMP "CH[83]"   SITE "G2";

// Special IO Type
IOBUF 		PORT "RSTN" 	IO_TYPE=LVCMOS33; // RESET
IOBUF 		PORT "KEY[0]" 	IO_TYPE=LVCMOS33; // KEY0
IOBUF 		PORT "KEY[1]" 	IO_TYPE=LVCMOS33; // KEY1
IOBUF 		PORT "LEDR" 	IO_TYPE=LVCMOS33; // red
IOBUF 		PORT "LEDG" 	IO_TYPE=LVCMOS33; // green
IOBUF 		PORT "LEDB" 	IO_TYPE=LVCMOS33; // blue
IOBUF		PORT "SDA"	    IO_TYPE=LVCMOS33; // i2c data
IOBUF		PORT "SCL"	    IO_TYPE=LVCMOS33; // i2c clk
IOBUF       PORT "SER"      IO_TYPE=LVCMOS33; // shift register in
IOBUF       PORT "RCK"      IO_TYPE=LVCMOS33; // register clk
IOBUF       PORT "SCK"      IO_TYPE=LVCMOS33; // shift sig
// CH 0 - 9 IO Type
IOBUF		PORT "CH[0]"    IO_TYPE=LVCMOS33;
IOBUF		PORT "CH[1]"    IO_TYPE=LVCMOS33;
IOBUF		PORT "CH[2]"    IO_TYPE=LVCMOS33;
IOBUF		PORT "CH[3]"    IO_TYPE=LVCMOS33;
IOBUF		PORT "CH[4]"    IO_TYPE=LVCMOS33;
IOBUF		PORT "CH[5]"    IO_TYPE=LVCMOS33;
IOBUF		PORT "CH[6]"    IO_TYPE=LVCMOS33;
IOBUF		PORT "CH[7]"    IO_TYPE=LVCMOS33;
IOBUF		PORT "CH[8]"    IO_TYPE=LVCMOS33;
IOBUF		PORT "CH[9]"    IO_TYPE=LVCMOS33;
// CH 10 - 19 IO Type
IOBUF		PORT "CH[10]"    IO_TYPE=LVCMOS33;
IOBUF		PORT "CH[11]"    IO_TYPE=LVCMOS33;
IOBUF		PORT "CH[12]"    IO_TYPE=LVCMOS33;
IOBUF		PORT "CH[13]"    IO_TYPE=LVCMOS33;
IOBUF		PORT "CH[14]"    IO_TYPE=LVCMOS33;
IOBUF		PORT "CH[15]"    IO_TYPE=LVCMOS33;
IOBUF		PORT "CH[16]"    IO_TYPE=LVCMOS33;
IOBUF		PORT "CH[17]"    IO_TYPE=LVCMOS33;
IOBUF		PORT "CH[18]"    IO_TYPE=LVCMOS33;
IOBUF		PORT "CH[19]"    IO_TYPE=LVCMOS33;
// CH 20 - 29 IO Type
IOBUF		PORT "CH[20]"    IO_TYPE=LVCMOS33;
IOBUF		PORT "CH[21]"    IO_TYPE=LVCMOS33;
IOBUF		PORT "CH[22]"    IO_TYPE=LVCMOS33;
IOBUF		PORT "CH[23]"    IO_TYPE=LVCMOS33;
IOBUF		PORT "CH[24]"    IO_TYPE=LVCMOS33;
IOBUF		PORT "CH[25]"    IO_TYPE=LVCMOS33;
IOBUF		PORT "CH[26]"    IO_TYPE=LVCMOS33;
IOBUF		PORT "CH[27]"    IO_TYPE=LVCMOS33;
IOBUF		PORT "CH[28]"    IO_TYPE=LVCMOS33;
IOBUF		PORT "CH[29]"    IO_TYPE=LVCMOS33;
// CH 30 - 39 IO Type
IOBUF		PORT "CH[30]"    IO_TYPE=LVCMOS33;
IOBUF		PORT "CH[31]"    IO_TYPE=LVCMOS33;
IOBUF		PORT "CH[32]"    IO_TYPE=LVCMOS33;
IOBUF		PORT "CH[33]"    IO_TYPE=LVCMOS33;
IOBUF		PORT "CH[34]"    IO_TYPE=LVCMOS33;
IOBUF		PORT "CH[35]"    IO_TYPE=LVCMOS33;
IOBUF		PORT "CH[36]"    IO_TYPE=LVCMOS33;
IOBUF		PORT "CH[37]"    IO_TYPE=LVCMOS33;
IOBUF		PORT "CH[38]"    IO_TYPE=LVCMOS33;
IOBUF		PORT "CH[39]"    IO_TYPE=LVCMOS33;
// CH 40 - 49 IO Type
IOBUF		PORT "CH[40]"    IO_TYPE=LVCMOS33;
IOBUF		PORT "CH[41]"    IO_TYPE=LVCMOS33;
IOBUF		PORT "CH[42]"    IO_TYPE=LVCMOS33;
IOBUF		PORT "CH[43]"    IO_TYPE=LVCMOS33;
IOBUF		PORT "CH[44]"    IO_TYPE=LVCMOS33;
IOBUF		PORT "CH[45]"    IO_TYPE=LVCMOS33;
IOBUF		PORT "CH[46]"    IO_TYPE=LVCMOS33;
IOBUF		PORT "CH[47]"    IO_TYPE=LVCMOS33;
IOBUF		PORT "CH[48]"    IO_TYPE=LVCMOS33;
IOBUF		PORT "CH[49]"    IO_TYPE=LVCMOS33;
// CH 50 - 59 IO Type
IOBUF		PORT "CH[50]"    IO_TYPE=LVCMOS33;
IOBUF		PORT "CH[51]"    IO_TYPE=LVCMOS33;
IOBUF		PORT "CH[52]"    IO_TYPE=LVCMOS33;
IOBUF		PORT "CH[53]"    IO_TYPE=LVCMOS33;
IOBUF		PORT "CH[54]"    IO_TYPE=LVCMOS33;
IOBUF		PORT "CH[55]"    IO_TYPE=LVCMOS33;
IOBUF		PORT "CH[56]"    IO_TYPE=LVCMOS33;
IOBUF		PORT "CH[57]"    IO_TYPE=LVCMOS33;
IOBUF		PORT "CH[58]"    IO_TYPE=LVCMOS33;
IOBUF		PORT "CH[59]"    IO_TYPE=LVCMOS33;
// CH 60 - 69 IO Type
IOBUF		PORT "CH[60]"    IO_TYPE=LVCMOS33;
IOBUF		PORT "CH[61]"    IO_TYPE=LVCMOS33;
IOBUF		PORT "CH[62]"    IO_TYPE=LVCMOS33;
IOBUF		PORT "CH[63]"    IO_TYPE=LVCMOS33;
IOBUF		PORT "CH[64]"    IO_TYPE=LVCMOS33;
IOBUF		PORT "CH[65]"    IO_TYPE=LVCMOS33;
IOBUF		PORT "CH[66]"    IO_TYPE=LVCMOS33;
IOBUF		PORT "CH[67]"    IO_TYPE=LVCMOS33;
IOBUF		PORT "CH[68]"    IO_TYPE=LVCMOS33;
IOBUF		PORT "CH[69]"    IO_TYPE=LVCMOS33;
// CH 70 - 79 IO Type
IOBUF		PORT "CH[70]"    IO_TYPE=LVCMOS33;
IOBUF		PORT "CH[71]"    IO_TYPE=LVCMOS33;
IOBUF		PORT "CH[72]"    IO_TYPE=LVCMOS33;
IOBUF		PORT "CH[73]"    IO_TYPE=LVCMOS33;
IOBUF		PORT "CH[74]"    IO_TYPE=LVCMOS33;
IOBUF		PORT "CH[75]"    IO_TYPE=LVCMOS33;
IOBUF		PORT "CH[76]"    IO_TYPE=LVCMOS33;
IOBUF		PORT "CH[77]"    IO_TYPE=LVCMOS33;
IOBUF		PORT "CH[78]"    IO_TYPE=LVCMOS33;
IOBUF		PORT "CH[79]"    IO_TYPE=LVCMOS33;
// CH 80 - 83 IO Type
IOBUF		PORT "CH[80]"    IO_TYPE=LVCMOS33;
IOBUF		PORT "CH[81]"    IO_TYPE=LVCMOS33;
IOBUF		PORT "CH[82]"    IO_TYPE=LVCMOS33;
IOBUF		PORT "CH[83]"    IO_TYPE=LVCMOS33;
